#globalheader { position:relative; margin-left:8px; display:block; width:90%; height:36px; margin:10px auto; z-index:9998; background-color:#fff;  repeat-x;
                -khtml-border-radius:1px; -ms-border-radius:1px; -o-border-radius:1px; -moz-border-radius:1px; -webkit-border-radius:1px; border-radius:1px;
                 -khtml-box-shadow:rgba(0,0,0,0.8) 1px 1px 2px; -ms-box-shadow:rgba(0,0,0,0.8) 1px 1px 2px; -o-box-shadow:rgba(0,0,0,0.8) 1px 1px 2px; -moz-box-shadow:rgba(0,0,0,0.8) 1px 1px 2px; -webkit-box-shadow:rgba(0,0,0,0.7) 0 1px 2px; box-shadow:rgba(0,0,0,0.8) 1px 1px 2px;
            border:1px solid #eeeeee;    }
#globalheader #globalnav { position:relative; display:block; margin:0; padding:0; zoom:0; z-index:3;  }
#globalheader #globalnav:after { content:"."; display:block; height:0; clear:both; visibility:hidden; }
#globalheader #globalnav li { display:inline; }
#globalnav p {  margin-right: 24px; padding-top: 5px; margin-left: 8px;  font:24px  HelveticaNeue-Light,Helvetica,Arial, Verdana, sans-serif; color:#000;}
#globalheader #globalnav li a { float:left; width:102px;  text-shadow:10px; height:36px; line-height;36px;  color:white;  font-size:14px font-weight:bold;  text-indent:7px;  z-index:0; background-color:#000; background:url("/images/globalnav.png") ; cursor:pointer; }

/* VML FOR IE */
v\:roundrect,
v\:fill { behavior:url(#default#VML); }
#globalheader-roundrect,
#globalheader-fill { display:block; position:absolute; width:980px; height:35px; top:0; left:0; z-index:2; }
#globalheader-shadow {  display:block; position:absolute; width:980px; height:35px; top:5px; left:-2px; z-index:1; -ms-filter:"progid:DXImageTransform.Microsoft.Blur(pixelRadius=2)"; filter:progid:DXImageTransform.Microsoft.Blur(pixelRadius=2); }

/* VARIANTS
#globalheader #globalnav.tabs6-nosearch li a { width:163px; background-image:url(/images/globalnav_tabs6-nosearch.png); }
#globalheader #globalnav.tabs6-nosearch li#gn-home a { width:165px; }
#globalheader #globalnav.tabs7-nosearch li a { width:140px; background-image:url(/images/gobalnav_tabs7-nosearch.png); }
#globalheader #globalnav.tabs7-nosearch li#gn-home a { width:140px; }
#globalheader #globalnav.nosearch       li a { width:122px; background-image:url(/images/globalnav.png); }
#globalheader #globalnav.nosearch       li#gn-home a { width:126px; }
#globalheader #globalnav.tabs7          li a { width:117px; background-image:url(/images/globalnav_tabs7.png); }
#globalheader #globalnav.tabs7          li#gn-home a { width:114px; }
*/
/*#globalheader #globalnav     li#gn-home a { top:5px; padding:7px left:-2px; z-index:1; background:url(/images/cwworldwide_logo_white_sm.png); background-size:80% ;auto; background-repeat:no-repeat;}
/* ACTION STATES */
#globalheader #globalnav li a { background-position:100% 0; outline:none; }
#globalheader #globalnav li a.before { background-position:100% -36px; }
#globalheader #globalnav li a:hover,
#globalheader #globalnav li a:focus  { background-position:100% -72px; }
#globalheader #globalnav li a:active { background-position:100% -108px; }

#globalheader #globalnav li#gn-home a { background-position:0 0; }
#globalheader #globalnav li#gn-home a.before { background-position:0 -36px; }
#globalheader #globalnav li#gn-home a:hover,
#globalheader #globalnav li#gn-home a:focus  { background-position:0 -72px; }
#globalheader #globalnav li#gn-home a:active { background-position:0 -108px; }

/* VARIANT ACTION STATES */
#globalheader #globalnav.tabs6-nosearch li.gn-last a { background-position:-165px 0; }
#globalheader #globalnav.tabs6-nosearch li.gn-last a:hover,
#globalheader #globalnav.tabs6-nosearch li.gn-last a:focus { background-position:-165px -72px; }
#globalheader #globalnav.tabs6-nosearch li.gn-last a:active { background-position:-165px -108px; }

#globalheader #globalnav.tabs7-nosearch li.gn-last a { background-position:-140px 0; }
#globalheader #globalnav.tabs7-nosearch li.gn-last a:hover,
#globalheader #globalnav.tabs7-nosearch li.gn-last a:focus { background-position:-140px -72px; }
#globalheader #globalnav.tabs7-nosearch li.gn-last a:active { background-position:-140px -108px; }

#globalheader #globalnav.nosearch       li.gn-last a { background-position:-126px 0; }
#globalheader #globalnav.nosearch       li.gn-last a:hover,
#globalheader #globalnav.nosearch       li.gn-last a:focus { background-position:-126px -72px; }
#globalheader #globalnav.nosearch       li.gn-last a:active { background-position:-126px -108px; }

/* ON STATES */
#globalheader.home     li#gn-Home     a ,
#globalheader.store     li#gn-storage     a,
#globalheader.mac       li#gn-networks       a,
#globalheader.ipod      li#gn-backups    a,
#globalheader.iphone    li#gn-x86    a,
#globalheader.ipad      li#gn-sparc   a,
#globalheader.itunes    li#gn-workstack    a,
#globalheader.support   li#gn-support   a { background-position:right -144px !important; }

#globalheader.gn-last #globalnav.tabs6-nosearch li.gn-last a { background-position:-165px -144px !important; }
#globalheader.gn-last #globalnav.tabs7-nosearch li.gn-last a { background-position:-140px -144px !important; }
#globalheader.gn-last #globalnav.nosearch       li.gn-last a { background-position:-126px -144px !important; }

/* TEXT */
#globalheader #globalnav li a span { display:inline-table; width:100%;  height:30px; margin-top:10px; auto; no-repeat 50% 0;  }

/* @media only screen and (max-device-width:768px) {
        ##globalheader #globalnav li a span { background-image:url(/images/globalnav_text.svg); }
        /* ##globalheader.ios3 #globalnav li a span { background-image:url(images/globalnav_text.png); }
}*/

#globalheader #globalnav li#gn-home     a span { background-position:50% 0px; }
#globalheader #globalnav li#gn-storage      a span { background-position:50% -30px; }
#globalheader #globalnav li#gn-networks        a span { background-position:50% -60px; }
#globalheader #globalnav li#gn-backups       a span { background-position:50% -90px; }
#globalheader #globalnav li#gn-x86     a span { background-position:50% -120px; }
#globalheader #globalnav li#gn-sparc      a span { background-position:50% -150px; }
#globalheader #globalnav li#gn-workstack    a span { background-position:50% -180px; }
#globalheader #globalnav li#gn-support    a span { background-position:50% -210px; }


/* GLOBAL SEARCH */
#globalsearch { position:absolute; top:0; right:0; width:140px; padding:7px 12px; z-index:5; background-color:#555; background:url(/images/globalsearch_bg.png) no-repeat 100% 0; }
#g-search { display:block; position:relative; }

#sp-searchtext { width:100px; height:16px; border:0 none; padding:2px 20px; color:#fff;  0 0 no-repeat; -webkit-appearance:none; }

#sp-searchtext:focus { color:#000; background-position:0 100%; outline:none; }

.globalheader-loaded #g-search { width:100px; height:16px; border:0 none; padding:2px 20px; color:#fff; 0 0 no-repeat; }
.globalheader-loaded #globalsearch label { display:block; margin-top:-2px; }
.globalheader-loaded #sp-searchtext { padding:0; color:#fff; background:none; }
.searchmode          #g-search { background-position:0 100%; }
.searchmode          #sp-searchtext { color:#000; outline:none; }

#globalsearch .reset { position:absolute; width:11px; height:11px; overflow:hidden; z-index:6; top:5px; *top:6px; right:6px; _right:18px;  }
#globalsearch .reset,
.searchmode #globalsearch .empty .reset { display:none; }
.searchmode #globalsearch .reset { display:block; cursor:pointer; }
@media only screen and (max-device-width:768px) {
    #globalsearch .reset { display:none !important; }
}

#globalsearch .spinner { position:absolute; display:none; width:11px; height:11px; overflow:hidden; z-index:7; top:5px; *top:6px; right:6px; _right:18px; background:url(/images/globalsearch_spinner.gif); }
.searchmode #globalsearch .spinner { display:block; }
.searchmode #globalsearch .spinner.hide { display:none; }

/* SEARCH SHORTCUTS */
#sp-results { position:absolute; top:32px; right:0; width:290px; line-height:0; z-index:9999; }
#sp-results div { position:relative; background:#fff; background:rgba(255,255,255,0.97);
                  -khtml-border-radius:1px; -ms-border-radius:1px; -o-border-radius:1px; -moz-border-radius:1px; -webkit-border-radius:1px; border-radius:1px;
                  -khtml-box-shadow:rgba(0,0,0,0.5) 0 0 10px; -ms-box-shadow:rgba(0,0,0,0.5) 0 0 10px; -o-box-shadow:rgba(0,0,0,0.5) 0 0 10px; -moz-box-shadow:rgba(0,0,0,0.5) 0 0 10px; -webkit-box-shadow:rgba(0,0,0,0.5) 0 0 10px; box-shadow:rgba(0,0,0,0.5) 0 0 10px;
}
#sp-results #sp-roundrect { position:absolute; width:100%; }
#sp-results #sp-roundrect div { background:none; }
#sp-results .sp-shadow { position:absolute; display:none; top:-10px; left:-10px; width:100%; background:#333;
                         -ms-filter:"progid:DXImageTransform.Microsoft.Blur(pixelRadius=10)"; filter:progid:DXImageTransform.Microsoft.Blur(pixelRadius=10);
}

#sp-results h3 { margin:0; padding:8px 10px 2px; color:#999; font-size:12px; line-height:1.3; }

#sp-results ul { padding-bottom:4px; }
#sp-results #sp-roundrect ul { margin-left:1px; margin-right:-2px; width:291px; }
#sp-results ul li { clear:left; margin:0; padding:0; font-size:11px; line-height:1.3; }
#sp-results ul li a { display:block; padding:6px 10px 6px 66px; text-decoration:none; outline:none; zoom:1; }
#sp-results ul li a:after { content:'.'; display:block; height:0; clear:both; visibility:hidden; }
#sp-results ul li a h4 { margin:0; padding:0; color:#000; font-weight:bold; font-size:11px; line-height:1.3; }
#sp-results ul li a p { margin:0; padding:0; color:#333; font-size:11px; line-height:1.3; }
#sp-results ul li a img { float:left; width:46px; height:46px; margin:0 10px 0 -56px; behavior:none; }

#sp-results ul.noresults { padding-top:4px; }
#sp-results ul.noresults li a { padding-left:10px; text-align:center; }

#sp-results ul li a:hover,
#sp-results ul li a:focus,
#sp-results ul li.focus a { background:#367af8;
                            background:-moz-linear-gradient(top, #648ffa 0, #0d67f7 100%);
                            background:-webkit-gradient(linear, 0 0, 0 100%, from(#648ffa), to(#0d67f7));
                            -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF648FFA,endColorstr=#FF0D67F7)";
                            filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF648FFA,endColorstr=#FF0D67F7);
}
#sp-results ul li a:hover h4,
#sp-results ul li a:focus h4,
#sp-results ul li.focus a h4,
#sp-results ul li a:hover p,
#sp-results ul li a:focus p,
#sp-results ul li.focus a p { color:#fff; }
